/* make all buttons 20x40 pixels with black text, gray background, 10 pixel margin */
button { background: gray; color: black; width: 150px; }

/* make all buttons in class tab-buttons have no margin*/
.tab-buttons { margin: 0px; }

/* style dialer buttons */
.number-buttons { margin: 2px; font-size: large; text-align: center; color: black; background: silver; width: 75px height:50; }

/*dialer input box and label*/
#dialer-box {width: 225px};

/* make all tags with the "add-label" class name have bold text */
.cool { font-weight: bold; font-size:150%; }

/* make the button with ID "add-reset" red */
#add-reset { background: red; }
